<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-VisorDeDocumentos-20160301122813.mdf;Initial Catalog=aspnet-VisorDeDocumentos-20160301122813;Integrated Security=True" providerName="System.Data.SqlClient" />

    <add name="NOTASMESOConnectionString" connectionString="Data Source=gp4;Initial Catalog=NOTASMESO;User ID=Local;Password=L3ct0rL0c4l;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="NOTASMESOConnectionReporteEscaneoAdminsGuate" connectionString="Data Source=academico.umes.edu.gt;Initial Catalog=NOTASMESO;Persist Security Info=True;User ID=Local;Password=LectorUm3sLoc4l" providerName="System.Data.SqlClient" />
    <add name="CAJAEntities" connectionString="metadata=res://*/Models.ModeloCaja.csdl|res://*/Models.ModeloCaja.ssdl|res://*/Models.ModeloCaja.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gp4;initial catalog=CAJA;persist security info=True;user id=local;password=L3ct0rL0c4l;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NOTASMESOEntities" connectionString="metadata=res://*/Models.Vista_Notas.csdl|res://*/Models.Vista_Notas.ssdl|res://*/Models.Vista_Notas.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gp4;initial catalog=NOTASMESO;user id=Local;password=L3ct0rL0c4l;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NOTASMESOEntitiesEscaneoString" connectionString="metadata=res://*/Models.ModelEscaneo.csdl|res://*/Models.ModelEscaneo.ssdl|res://*/Models.ModelEscaneo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gp4;initial catalog=NOTASMESO;user id=Local;password=L3ct0rL0c4l;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EscaneadosEntities" connectionString="metadata=res://*/Models.ModelEscaneados.csdl|res://*/Models.ModelEscaneados.ssdl|res://*/Models.ModelEscaneados.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gp4;initial catalog=NOTASMESO;user id=Local;password=L3ct0rL0c4l;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/Models.ModelReportesGenerales.csdl|res://*/Models.ModelReportesGenerales.ssdl|res://*/Models.ModelReportesGenerales.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gp4;initial catalog=NOTASMESO;user id=Local;password=L3ct0rL0c4l;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NOTASMESOReporteGeneral" connectionString="metadata=res://*/Models.ModelReporteGeneral.csdl|res://*/Models.ModelReporteGeneral.ssdl|res://*/Models.ModelReporteGeneral.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gp4;initial catalog=NOTASMESO;user id=Local;password=L3ct0rL0c4l;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NOTASMESOEntitiesCatedraticos" connectionString="metadata=res://*/ModelCatedratico.csdl|res://*/ModelCatedratico.ssdl|res://*/ModelCatedratico.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gp4;initial catalog=NOTASMESO;user id=Local;password=L3ct0rL0c4l;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NOTASMESOEntitiesCatedraticoXela" connectionString="metadata=res://*/ModelCatedraticoXela.csdl|res://*/ModelCatedraticoXela.ssdl|res://*/ModelCatedraticoXela.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gp4;initial catalog=NOTASMESO;user id=Local;password=L3ct0rL0c4l;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NOTASMESOEntitiesReporteGeneralEscaneos" connectionString="metadata=res://*/Models.ModelReporteGeneralEscaneos.csdl|res://*/Models.ModelReporteGeneralEscaneos.ssdl|res://*/Models.ModelReporteGeneralEscaneos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gp4;initial catalog=NOTASMESO;user id=Local;password=L3ct0rL0c4l;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NOTASMESOEntitiesEscaneos" connectionString="metadata=res://*/Models.ModelEscaneos.csdl|res://*/Models.ModelEscaneos.ssdl|res://*/Models.ModelEscaneos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gp4;initial catalog=NOTASMESO;user id=Local;password=L3ct0rL0c4l;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NOTASMESOEntitiesEscaneosGuate" connectionString="metadata=res://*/Models.ModelEscaneosGuate.csdl|res://*/Models.ModelEscaneosGuate.ssdl|res://*/Models.ModelEscaneosGuate.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=academico.umes.edu.gt;initial catalog=NOTASMESO;persist security info=True;user id=Local;password=LectorUm3sLoc4l;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NOTASMESOCOBANEntitiesEscaneos" connectionString="metadata=res://*/Models.ModelEscaneosCoban.csdl|res://*/Models.ModelEscaneosCoban.ssdl|res://*/Models.ModelEscaneosCoban.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=academico.umes.edu.gt;initial catalog=NOTASMESOCOBAN;persist security info=True;user id=Local;password=LectorUm3sLoc4l;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NOTASMESOTEOEntitiesEscaneo" connectionString="metadata=res://*/Models.ModelEscaneosCenses.csdl|res://*/Models.ModelEscaneosCenses.ssdl|res://*/Models.ModelEscaneosCenses.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=academico.umes.edu.gt;initial catalog=NOTASMESOTEO;persist security info=True;user id=Local;password=LectorUm3sLoc4l;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NOTASMESOIZABALEntitiesEscaneos" connectionString="metadata=res://*/Models.ModelEscaneoIzabal.csdl|res://*/Models.ModelEscaneoIzabal.ssdl|res://*/Models.ModelEscaneoIzabal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=academico.umes.edu.gt;initial catalog=NOTASMESOIZABAL;persist security info=True;user id=Local;password=LectorUm3sLoc4l;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NOTASMESOAMATITTLANEntitiesEscaneos" connectionString="metadata=res://*/Models.ModelEscaneosAmatitlan.csdl|res://*/Models.ModelEscaneosAmatitlan.ssdl|res://*/Models.ModelEscaneosAmatitlan.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=academico.umes.edu.gt;initial catalog=NOTASMESOAMAT;persist security info=True;user id=Local;password=LectorUm3sLoc4l;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
    <authentication mode="Forms">
      <!--<forms loginUrl="Login.aspx"/> -->
      <forms name=".ASPXFORMSAUTH" loginUrl="Account/Login.aspx" protection="All" path="/" timeout="30" defaultUrl="~/Default.aspx" />
    </authentication>
    <authorization>
      <deny users="?" />
      <!-- <allow users = "*" /> -->
    </authorization>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.5.2" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
        <add namespace="Microsoft.AspNet.Identity" />
      </namespaces>
      <controls>
        <add tagPrefix="webopt" namespace="Microsoft.AspNet.Web.Optimization.WebForms" assembly="Microsoft.AspNet.Web.Optimization.WebForms" />
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <membership>
      <providers>
        <!--
        El proveedor de pertenencia de ASP.NET está deshabilitado en esta plantilla. Visite el vínculo siguiente http://go.microsoft.com/fwlink/?LinkId=301889 para obtener información sobre la compatibilidad con la pertenencia a ASP.NET en esta plantilla
        -->
        <clear />
      </providers>
    </membership>
    <profile>
      <providers>
        <!--
        El perfil de pertenencia de ASP.NET está deshabilitado en esta plantilla. Visite el vínculo siguiente http://go.microsoft.com/fwlink/?LinkId=301889 para obtener información sobre la compatibilidad con la pertenencia a ASP.NET en esta plantilla
        -->
        <clear />
      </providers>
    </profile>
    <roleManager>
      <!--
          La gestión de roles del sistema de pertenencia de ASP.NET está deshabilitada en esta plantilla. Visite el vínculo siguiente http://go.microsoft.com/fwlink/?LinkId=301889 para obtener información sobre la compatibilidad con la pertenencia a ASP.NET en esta plantilla
        -->
      <providers>
        <clear />
      </providers>
    </roleManager>
    <!--
            Si la implementación se realiza en un entorno de nube con varias instancias de servidor web,
            debería cambiar el modo de estado de sesión de "InProc" a "Custom". Además, cambie también
            la cadena de conexión con el nombre "DefaultConnection" para conectarse a una instancia de
            SQL Server (incluidos SQL Azure y SQL Compact) en lugar de conectarse a SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
    <httpModules>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <!--
        Quitar esta linea para que no se quede redireccionando siempre al login            
      -->
      <!--<remove name="FormsAuthentication" />-->
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.57.0.0" newVersion="1.57.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.57.0.0" newVersion="1.57.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.20.0.103" newVersion="2.20.0.103" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:7.3 /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler extension=".vb" language="vb;vbs;visualbasic;vbscript" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>
</configuration>